@import url("https://fonts.googleapis.com/css2?family=Nunito:wght@500;600;700&display=swap");

:root {
  --color-primary-hue: 252;
  --color-light-lightness: 95%;
  --color-white-lightness: 100%;
  --color-dark-lightness: 17%;

  --color-white: hsl(
    var(--color-primary-hue),
    30%,
    var(--color-white-lightness)
  );
  --color-light: hsl(
    var(--color-primary-hue),
    30%,
    var(--color-light-lightness)
  );
  --color-grey: hsl(var(--color-primary-hue), 15%, 65%);
  --color-primary: hsl(var(--color-primary-hue), 75%, 60%);
  --color-secondary: hsl(var(--color-primary-hue), 100%, 90%);
  --color-success: hsl(120, 95%, 65%);
  --color-danger: hsl(0, 95%, 65%);
  --color-dark: hsl(var(--color-primary-hue), 30%, var(--color-dark-lightness));
  --color-black: hsl(var(--color-primary-hue), 30%, 10%);

  --border-radius: 2rem;
  --card-border-radius: 1rem;
  --photo-border-radius: 0.25rem;
  --btn-padding: 0.6rem 2rem;
  --search-padding: 0.6rem 1rem;
  --card-padding: 1rem;

  --font-medium: 500;
  --font-semi-bold: 600;
  --font-bold: 700;

  --transition: all 0.3s ease;

  --sticky-top-left: 5.4rem;
  --sticke-top-right: -18rem;
}

html {
  scroll-behavior: smooth;
}

*,
*::before,
*::after {
  margin: 0;
  padding: 0;
  outline: 0;
  box-sizing: border-box;
  text-decoration: none;
  list-style: none;
  border: none;
}

body {
  font-family: "Nunito", sans-serif;
  color: var(--color-dark);
  background-color: var(--color-light);
  overflow-x: hidden;
  min-height: 100%;
}

header {
  background-size: cover;
}

main {
  background: var(--color-white);
}

nav .topNav li a.active .link_names {
  color: var(--color-primary);
}

.sidebar .nav-links li a.active .link_name {
  color: var(--color-primary);
}

section {
  position: relative;
  display: block;
  padding-top: 5rem;
  padding-left: 7rem;
  min-height: 100vh;
  width: 100%;
  position: fixed;
  opacity: 1;
  top: 0;
  left: 0;
  right: 0;
  bottom: 0;
  z-index: 0;
  overflow-x: hidden;
  overflow-y: auto;
}

section.back__section {
  z-index: 1;
}

section.active {
  z-index: 5;
  opacity: 1;
  animation: slideSections 0.1s ease;
}

@keyframes slideSections {
  0% {
    opacity: 0;
  }

  100% {
    opacity: 1;
  }
}

.section__bg {
  background: linear-gradient(
    145deg,
    var(--color-secondary),
    var(--color-white),
    var(--color-white),
    var(--color-white),
    var(--color-white),
    var(--color-white),
    var(--color-white),
    var(--color-white),
    var(--color-primary)
  );
}

.gradient-background {
  height: 100%;
  width: 100%;
  position: fixed;
  top: 0;
  left: 0;
  z-index: -1;
  overflow: hidden;
}

.gradient-background .animated-box {
  position: absolute;
  background: rgba(255, 255, 255, 0.3);
  display: block;
  pointer-events: none;
  border-radius: 0.5rem;
  animation: animate 3s linear infinite;
}

@keyframes animate {
  0% {
    opacity: 0;
    transform: scale(0) translateY(-200%) rotate(0deg);
  }
  10% {
    opacity: 1;
  }
  90% {
    opacity: 1;
  }
  100% {
    opacity: 0;
    transform: scale(1) translateY(-500%) rotate(360deg);
  }
}

.container,
.container__inner {
  margin: 0 auto;
  width: 100%;
}

.container {
  max-width: 1200px;
  position: relative;
  display: grid;
  grid-template-columns: 2fr 5fr 1fr;
  justify-content: space-between;
  align-items: center;
  margin: 0 auto;
}

.container__inner {
  max-width: 998px;
}

.container__inner ul li span {
  color: var(--color-dark);
}

nav {
  position: fixed;
  top: 0;
  left: 0;
  width: 100%;
  padding: 0.75rem 2rem 0.75rem 7rem;
  z-index: 9;
  opacity: 0.95;
  transition: var(--transition);
  color: var(--color-white);
  box-shadow: 0 0 0.4rem var(--color-primary);
}

.brand {
  display: flex;
  flex-wrap: nowrap;
  font-size: 1.75rem;
  font-weight: var(--font-bold);
  color: var(--color-primary);
}

.brand:hover {
  color: var(--color-primary);
}

nav .container__inner {
  display: flex;
  justify-content: space-between;
  align-items: center;
  width: 100%;
}

nav .container ul {
  width: 100%;
  margin: 0 1rem;
}

.container i {
  color: var(--color-dark);
  font-weight: var(--font-bold);
  font-size: 1.75rem;
}

nav .container ul:nth-child(2) {
  text-align: right;
}

nav .container ul li {
  display: inline-block;
  margin: 0 0.5rem;
}

nav a {
  text-decoration: none;
  font-size: 1rem;
  transition: var(--transition);
  font-weight: var(--font-semi-bold);
  color: var(--color-dark);
}

nav a:hover {
  color: var(--color-primary);
}

.input__wrapper {
  display: flex;
  justify-content: center;
  align-items: center;
  padding: 0.5rem 0;
}

nav i {
  font-size: 1rem;
  cursor: pointer;
  transition: var(--transition);
  text-align: right;
}

nav i:hover {
  color: var(--color-primary);
}

.menu {
  background: var(--color-white);
  position: fixed;
  top: 0;
  left: 0;
  width: 100%;
  text-align: center;
  font-size: 1rem;
  height: 0;
  opacity: 0;
  transition: var(--transition);
  overflow-y: hidden;
}

.logo {
  width: 3rem;
  border-radius: 50%;
}

/* .menu form  */
.menu ul {
  margin: 1rem auto;
}

.menu li {
  margin: 1rem 0;
}

.menu > div {
  display: flex;
  justify-content: start;
  align-items: center;
  flex-direction: column;
  padding: 3rem;
  height: 100%;
  overflow-y: scroll;
}

.menu > div::-webkit-scrollbar {
  display: none;
}

.menu .social__media {
  margin: 2rem 0;
}

.social__media {
  display: inline-block;
  margin: 0 0.5rem;
}

.menu__open {
  height: 100vh;
  opacity: 1;
}

.navbar__active {
  backdrop-filter: blur(10px);
  background: linear-gradient(
    145deg,
    var(--color-secondary),
    var(--color-white),
    var(--color-white),
    var(--color-white)
  );
}

.navbar {
  opacity: 0.85;
  backdrop-filter: blur(10px);
}

@media screen and (max-width: 475px) {
  html {
    font-size: 12px;
  }
}

@media screen and (max-width: 767px) {
  nav .container .brand,
  .container__inner ul li span {
    display: none;
  }
}

@media screen and (min-width: 768px) {
  .navbar .container {
    grid-template-columns: 2fr 7fr;
  }

  .navbar .container i {
    display: none;
  }
}

@media screen and (max-width: 998px) {
  .navbar .brand {
    font-size: 1rem;
  }

  .navbar {
    opacity: 0.95;
  }

  .container__inner .topNav {
    display: none;
  }
}

.customize__theme {
  background: rgba(255, 255, 255, 0.6);
  width: 100vw;
  height: 100vh;
  position: fixed;
  top: 0;
  left: 0;
  z-index: 100;
  text-align: center;
  display: grid;
  place-items: center;
  font-size: 1rem;
  display: none;
}

.customize__theme .card {
  background: var(--color-white);
  padding: 2rem;
  border-radius: var(--card-border-radius);
  width: 50%;
  box-shadow: 0 0 2rem var(--color-primary);
  transition: var(--transition);
}

.customize__theme .font__size {
  margin-top: 2rem;
}

.customize__theme .font__size > div {
  display: flex;
  justify-content: space-between;
  align-items: center;
  background: var(--color-light);
  padding: var(--search-padding);
  border-radius: var(--card-border-radius);
}

.customize__theme .choose__size {
  background: var(--color-secondary);
  height: 0.3rem;
  width: 100%;
  margin: 0 1rem;
  display: flex;
  justify-content: space-between;
  align-items: center;
  transition: var(--transition);
}

.customize__theme .choose__size span {
  width: 1rem;
  height: 1rem;
  background: var(--color-secondary);
  border-radius: 50%;
  cursor: pointer;
}

.customize__theme .choose__size span.active {
  background: var(--color-primary);
}

.customize__theme .color {
  margin-top: 1.5rem;
}

.customize__theme .choose__color {
  background: var(--color-light);
  padding: var(--search-padding);
  border-radius: var(--card-border-radius);
  display: flex;
  align-items: center;
  justify-content: space-between;
}

.customize__theme .choose__color span {
  width: 2rem;
  height: 2rem;
  border-radius: 50%;
  cursor: pointer;
  transition: var(--transition);
}

.customize__theme .choose__color span:nth-child(1) {
  background: hsl(252, 75%, 60%);
}

.customize__theme .choose__color span:nth-child(2) {
  background: hsl(52, 75%, 60%);
}

.customize__theme .choose__color span:nth-child(3) {
  background: hsl(352, 75%, 60%);
}

.customize__theme .choose__color span:nth-child(4) {
  background: hsl(162, 75%, 60%);
}

.customize__theme .choose__color span:nth-child(5) {
  background: hsl(212, 75%, 60%);
}

.customize__theme .choose__color span.active {
  border: 0.35rem solid var(--color-white);
}

.customize__theme .bg {
  margin-top: 1.5rem;
}

.customize__theme .choose__bg {
  display: flex;
  align-items: center;
  justify-content: space-between;
  max-width: 100%;

  gap: 1rem;
}

.customize__theme .choose__bg > div {
  padding: var(--card-padding);
  width: 100%;
  display: flex;
  align-items: center;
  font-size: 1rem;
  font-weight: var(--font-bold);
  border-radius: 0.4rem;
  cursor: pointer;
  box-sizing: border-box;
}

.customize__theme .choose__bg > div.active {
  border: 2px solid var(--color-primary);
}

.customize__theme .choose__bg .bg-1 {
  background: white;
  color: black;
}

.customize__theme .choose__bg .bg-2 {
  background: hsl(252, 30%, 20%);
  color: white;
}

.customize__theme .choose__bg .bg-3 {
  background: hsl(252, 30%, 10%);
  color: white;
}

.customize__theme .choose__bg > div span {
  width: 2rem;
  height: 2rem;
  border: 2px solid var(--color-grey);
  border-radius: 50%;
  margin-right: 1rem;
}

@media screen and (max-width: 1200px) {
  .customize__theme .card {
    width: 80vw;
  }
}

@media screen and (max-width: 992px) {
  .customize__theme .card {
    width: 90vw;
  }
}

@media screen and (max-width: 425px) {
  nav .nav .admin__panel p {
    display: none;
  }

  .customize__theme .card {
    width: 90%;
  }

  .customize__theme .card .choose__bg h5 {
    display: none;
  }

  .customize__theme .choose__bg > div span {
    margin-right: 0;
  }
}

@media screen and (max-width: 540px) {
  .customize__theme .choose__bg > div span {
    margin-right: 0;
  }
}

/* ============================================= */

.sidebar {
  position: fixed;
  top: 0;
  left: 0;
  height: 100%;
  width: 260px;
  /* background: var(--color-white); */
  z-index: 100;
  transition: all 0.5s ease;
  box-shadow: 0 0 0.4rem var(--color-primary);
  backdrop-filter: blur(10px);
  -webkit-backdrop-filter: blur(10px);
  background: rgba(255, 255, 255, 0.1);
}

.sidebar.close {
  width: 78px;
}

.sidebar .sidebar .logo-details {
  height: 60px;
  width: 100%;
  display: flex;
  align-items: center;
}

.sidebar .logo-details i {
  font-size: 30px;
  color: var(--color-dark);
  height: 50px;
  min-width: 78px;
  text-align: center;
  line-height: 50px;
}

.sidebar .logo-details .logo_name {
  font-size: 22px;
  color: var(--color-primary);
  font-weight: 600;
  transition: 0.3s ease;
  transition-delay: 0.1s;
}

.sidebar.close .logo-details .logo_name {
  transition-delay: 0s;
  opacity: 0;
  pointer-events: none;
  color: var(--color-primary);
}

.sidebar .nav-links {
  height: 100%;
  padding: 30px 0 150px 0;
  overflow: auto;
}

.sidebar.close .nav-links {
  overflow: visible;
}

.sidebar .nav-links::-webkit-scrollbar {
  display: none;
}

.sidebar .nav-links li {
  position: relative;
  list-style: none;
  transition: all 0.4s ease;
  overflow: hidden;
}

.sidebar .nav-links li:hover {
  background: var(--color-secondary);
  box-shadow: 0 0 0.4rem var(--color-primary);
}

.sidebar .nav-links li .iocn-link {
  display: flex;
  align-items: center;
  justify-content: space-between;
}

.sidebar.close .nav-links li .iocn-link {
  display: block;
}

.sidebar .nav-links li i {
  height: 50px;
  min-width: 78px;
  text-align: center;
  line-height: 50px;
  color: var(--color-dark);
  font-size: 20px;
  cursor: pointer;
  transition: all 0.3s ease;
}

.sidebar .nav-links li.showMenu i.arrow {
  transform: rotate(-180deg);
}

.sidebar.close .nav-links i.arrow {
  display: none;
}

.sidebar .nav-links li a {
  display: flex;
  align-items: center;
  text-decoration: none;
}

.sidebar .nav-links li a .link_name {
  font-size: 1rem;
  font-weight: 400;
  color: var(--color-dark);
  transition: all 0.4s ease;
}

.sidebar.close .nav-links li a .link_name {
  opacity: 0;
  pointer-events: none;
}

.sidebar .nav-links li .sub-menu {
  padding: 6px 6px 14px 80px;
  margin-top: -10px;
  background: var(--color-secondary);
  display: none;
}

.sidebar .nav-links li.showMenu .sub-menu {
  display: block;
}

.sidebar .nav-links li .sub-menu a {
  color: var(--color-dark);
  font-size: 15px;
  padding: 5px 0;
  white-space: nowrap;
  opacity: 0.6;
  transition: all 0.3s ease;
}

.sidebar .nav-links li .sub-menu a:hover {
  opacity: 1;
}

.sidebar.close .nav-links li .sub-menu {
  position: absolute;
  left: 100%;
  top: -10px;
  margin-top: 0;
  padding: 10px 20px;
  border-radius: 0 6px 6px 0;
  opacity: 0;
  display: block;
  pointer-events: none;
  transition: 0s;
}

.sidebar.close .nav-links li:hover .sub-menu {
  top: 0;
  opacity: 1;
  pointer-events: auto;
  transition: all 0.4s ease;
}

.sidebar .nav-links li .sub-menu .link_name {
  display: none;
}

.sidebar.close .nav-links li .sub-menu .link_name {
  font-size: 18px;
  opacity: 1;
  display: block;
}

.sidebar .nav-links li .sub-menu.blank {
  opacity: 1;
  pointer-events: auto;
  padding: 3px 20px 6px 16px;
  opacity: 0;
  pointer-events: none;
}

.sidebar .nav-links li:hover .sub-menu.blank {
  top: 50%;
  transform: translateY(-50%);
}

.sidebar li > div.profile-details {
  border-top: 1px solid var(--color-grey);
  box-shadow: 0 0 0.4rem var(--color-primary);
  backdrop-filter: blur(250px);
  background: rgba(255, 255, 255, 0.4);
}

.sidebar .profile-details {
  position: fixed;
  bottom: 0;
  width: 260px;
  display: flex;
  align-items: center;
  justify-content: space-between;
  /* background: var(--color-white); */
  padding: 12px 0;
  transition: all 0.5s ease;
}

.sidebar.close .profile-details {
  background: none;
}

.sidebar.close .profile-details {
  width: 78px;
}

.sidebar .profile-details .profile-content {
  display: flex;
  align-items: center;
}

.sidebar .profile-details .profile_name a {
  color: var(--color-dark);
}

.sidebar .profile-details .profile_name a:hover {
  color: var(--color-primary);
}

.sidebar .profile-details .profile_name,
.sidebar .profile-details .job {
  color: #fff;
  font-size: 18px;
  font-weight: 500;
  white-space: nowrap;
}

.sidebar.close .profile-details i,
.sidebar.close .profile-details .profile_name,
.sidebar.close .profile-details .job {
  display: none;
}

.sidebar .profile-details .name-job {
  font-size: 12px;
}

@media (max-width: 424) {
  .sidebar.close .nav-links li .sub-menu {
    display: none;
  }
  /* .sidebar {
    width: 78px;
  } */

  .sidebar .profile-details {
    display: grid;
  }

  .sidebar .profile-details .name-job {
    margin-left: 0.75rem;
  }

  .sidebar,
  .sidebar .profile-details {
    width: 78px;
  }

  .sidebar.close {
    width: 0;
  }
}

/*============================================================================*\
  sections
/*============================================================================*/

/*-----------------------------------*\
main
\*-----------------------------------*/

.main__bg {
  background: url(../../assets/img/hero/hero.jpg);
  background-size: cover;
  z-index: -100;
  opacity: 0.1;
}

section.main {
  display: flex;
  flex-direction: column;
  justify-content: center;
  align-items: center;
}

.main__title {
  color: var(--color-primary);
  position: relative;
  font-size: 4rem;
  text-transform: uppercase;
  background-attachment: fixed;
}

/*-----------------------------------*\
  territory
\*-----------------------------------*/

.section__grid {
  display: block;
  padding: 2rem;
}

.section__grid .section__box {
  position: relative;
  height: 100%;
  background: linear-gradient(
    135deg,
    rgba(255, 255, 255, 0.1),
    rgba(255, 255, 255, 0)
  );
  backdrop-filter: blur(50px);
  -webkit-backdrop-filter: blur(50px);
  border: 1px solid var(--color-secondary);
  border-radius: 0.25rem;
  box-sizing: border-box;
  margin-bottom: 1rem;
  box-shadow: 0 0.2rem 0.5rem rgba(0, 0, 253, 0.1) inset;
  overflow: hidden;
}

.section__grid a .section__box::before {
  content: "";
  position: absolute;
  top: 0;
  left: 0;
  width: 100px;
  height: 100%;
  background: rgba(255, 255, 255, 0.3);
  transform: skewX(45deg) translateX(450px);
  transition: var(--transition);
}

.section__grid a .section__box:hover::before {
  transform: skewX(45deg) translateX(-200px);
  transition: var(--transition);
}

.section__grid .section__box .section__content {
  position: relative;
  padding: 1rem;
  height: 100%;
  backdrop-filter: blur(10px);
}

.section__grid .section__box .section__content h3 {
  margin: 0 0 1rem;
  padding: 0;
  font-size: 0.75rem;
  color: var(--color-dark);
  font-weight: var(--font-medium);
}

.section__grid .section__box .section__content p {
  margin: 0;
  padding: 0;
  font-weight: var(--font-bold);
  color: var(--color-dark);
}

.section__grid .section__box:hover .section__content p {
  text-decoration: underline;
}

@media screen and (min-width: 768px) {
  .section__grid {
    display: grid;
    grid-gap: 1.5rem;
    grid-template-columns: repeat(2, 1fr);
  }
}

@media screen and (min-width: 998px) {
  .section__grid {
    grid-gap: 2rem;
  }
}

@media screen and (min-width: 1200px) {
  .section__grid {
    grid-gap: 3rem;
    grid-template-columns: repeat(3, 1fr);
  }
}

@media screen and (min-width: 1440px) {
  .section__grid {
    grid-gap: 2rem;
    grid-template-columns: repeat(4, 1fr);
  }
}

/*-----------------------------------*\
  schedule
\*-----------------------------------*/

.schedule .tabs {
  position: relative;
  width: 100%;
}

.schedule .tabs .tab__header,
.schedule .tabs .tab__body {
  margin: 0 auto;
  max-width: 700px;
  width: 100%;
}

.schedule .tabs .tab__header {
  position: relative;
  width: 90%;
  display: flex;
  align-items: center;
  height: 3rem;
  z-index: 2;
}

.schedule .tabs .tab__header div {
  width: 25%;
  text-align: center;
  padding: 1rem 0;
  cursor: pointer;
  transition: var(--transition);
}

.schedule .tabs .tab__header div.active {
  color: var(--color-primary);
  border-bottom: 1px solid var(--color-grey);
}

.schedule .tabs .tab__body {
  position: relative;
}

.schedule .tabs .tab__body div {
  position: absolute;
  width: 100%;
  padding: 20px;
  opacity: 0;
  top: -100vh;
}

.schedule .tabs .tab__body > div {
  margin: 1rem 0;
}

.schedule .tabs .tab__body div.active {
  top: 0;
  opacity: 1;
  transition: top 0s ease-in-out 0s, opacity 0.3s ease-in-out 0.1s;
}

/* tabs */
.tabs .tab__body {
  text-align: center;
}

table {
  margin: 3rem 0;
}

th,
td {
  padding: 0.5rem;
  text-align: left;
  border-bottom: 1px solid var(--color-grey);
}

@media only screen and (max-width: 767px) {
  .table {
    width: 90%;
  }
}

/* title */
.section__title {
  text-align: center;
  padding: 2rem 1rem;
  text-transform: uppercase;
  font-weight: var(--font-bold);
}

/*-----------------------------------*\
  annual plan
\*-----------------------------------*/

/* .annualPlan .annualPlan__title, */
.annualPlan .annualPlan__link {
  text-align: center;
  font-weight: var(--font-bold);
  margin-bottom: 3rem;
}

.annualPlan .annualPlan__table table {
  width: 60%;
  margin: auto;
  height: 100%;
  margin-bottom: 3rem;
}

.annualPlan__link a {
  color: var(--color-dark);
  padding: 1rem 2rem;
  border: 1px solid var(--color-grey);
  border-radius: 0.25rem;
}

.annualPlan__link a:hover {
  transition: var(--transition);
  cursor: pointer;
  color: var(--color-primary);
}

/*-----------------------------------*\
  bullying
\*-----------------------------------*/

.bullying .bullying__container {
  width: 100%;
  min-height: 100vh;
  display: flex;
  align-items: center;
  justify-content: center;
  padding: 1rem 8%;
}

.bullying .bullying__container .bullying__gallery {
  display: grid;
  grid-template-columns: repeat(auto-fit, minmax(150px, 1fr));
  grid-gap: 3rem;
}

.bullying .bullying__container .bullying__gallery img {
  width: 100%;
}

.bullying .bullying__link {
  text-align: center;
  font-weight: var(--font-bold);
  margin-bottom: 3rem;
}

.bullying__link a {
  color: var(--color-dark);
  padding: 1rem 2rem;
  border: 1px solid var(--color-grey);
  border-radius: 0.25rem;
}

.bullying__link a:hover {
  transition: var(--transition);
  cursor: pointer;
  color: var(--color-primary);
}

/*-----------------------------------*\
  covid
\*-----------------------------------*/

.covid .covid__container {
  width: 100%;
  min-height: 100vh;
  display: flex;
  align-items: center;
  justify-content: center;
  padding: 1rem 8%;
}

.covid .covid__container .covid__gallery {
  display: grid;
  grid-template-columns: repeat(auto-fit, minmax(150px, 1fr));
  grid-gap: 3rem;
}

.covid .covid__container .covid__gallery img {
  width: 100%;
}

.covid .covid__link {
  text-align: center;
  font-weight: var(--font-bold);
  margin-bottom: 3rem;
}

.covid__link a {
  color: var(--color-dark);
  padding: 1rem 2rem;
  border: 1px solid var(--color-grey);
  border-radius: 0.25rem;
}

.covid__link a:hover {
  transition: var(--transition);
  cursor: pointer;
  color: var(--color-primary);
}

/*-----------------------------------*\
  terms
\*-----------------------------------*/

.terms .terms__link {
  text-align: center;
  font-weight: var(--font-bold);
  margin-bottom: 3rem;
}

.terms .article {
  max-width: 800px;
  margin: auto;
  border: 1px solid var(--color-grey);
  border-radius: 0.25rem;
  box-shadow: 0 0 0.4rem var(--color-primary);
  padding: 1rem;
  margin-bottom: 2rem;
  backdrop-filter: blur(10px);
}

.terms .article h3 {
  text-align: center;
  margin-bottom: 1rem;
}

.terms .article ul {
  padding-left: 5rem;
  margin-bottom: 1rem;
}

.terms .article ul li {
  list-style: circle;
}

.terms .article p {
  margin-bottom: 1rem;
}

.terms__link a {
  color: var(--color-dark);
  padding: 1rem 2rem;
  border: 1px solid var(--color-grey);
  border-radius: 0.25rem;
}

.terms__link a:hover {
  transition: var(--transition);
  cursor: pointer;
  color: var(--color-primary);
}

/*-----------------------------------*\
  contacts
\*-----------------------------------*/
.mapbox {
  position: relative;
  height: 250px;
  width: 96%;
  border-radius: 1rem;
  margin-bottom: 30px;
  border: 1px solid var(--color-grey);
  box-shadow: 0 0 0.4rem var(--color-primary);
  overflow: hidden;
}

.mapbox figure {
  height: 100%;
}

.mapbox iframe {
  width: 100%;
  height: 100%;
  border: none;
  filter: grayscale(1) invert(0);
  border-radius: 0.5rem;
}

@media (min-width: 580px) {
  .mapbox {
    height: 460px;
  }
}

@media (min-width: 768px) {
  .mapbox {
    height: 560px;
  }
}

@media (min-width: 988px) {
  .mapbox {
    height: 660px;
  }
}

@media (min-width: 1200px) {
  .mapbox {
    height: 760px;
  }
}
